[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
langchain-text-splitters = "*"
sentence-transformers = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
langchain-huggingface = "*"
faiss-cpu = "*"
langchain-groq = "*"
python-dotenv = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.13"
